  /* ===== SAFE Academic Override (Keeps Structure) ===== */

  body {
    // font-family: Georgia, "Times New Roman", serif;
  font-family: 'Titillium Web', sans-serif;
  // font-weight: 300;
    font-size: 17px;
    // line-height: 1.7;
    color: #111;
  }

  h1, h2, h3, h4{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #111;
}

h1{
  // margin-top: -0.5em !important;
}



/* Default (desktop) */
.container {
  // margin: 40px;
}

/* Tablet */

@media (max-width: 1024px) {
  h1 {
  margin-top: -0.5em !important;
  }
}

@media (max-width: 768px) {
  h1 {
  margin-top: -0.5em !important;
  }
}

/* Mobile */
@media (max-width: 480px) {
  h1 {
  margin-top: -0.5em !important;
  }
}




a {
  color: #1772d0;
  text-decoration: none;
}

a:hover {
  color: #f09228;
}

  .page__title {
    font-weight: 500;
    letter-spacing: -0.3px;
  }

  .page__content :first-child {
    margin-top: 1.0em;
    }

  /* Section headings */
  .page__content h2 {
    font-size: 22px;
    font-weight: 600;
    // margin-top: 2em;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }

  .page__content {
  max-width: 780px;
}

  /* Paragraph spacing */
  .page__content p {
    // margin-bottom: 0.25em;
    margin-bottom: 0.8em;
    margin-left: 1em;
  }

  /* Links */
  a {
    color: #1772d0;
    text-decoration: none;
  }

  a:hover {
    color: #f09228;
  }

  .page__content {
    max-width: 800px;
  }

.masthead {
  display: none !important;
}


/* Desktop */
.author__avatar img {

  max-width: 280px !important;
  // height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

/* Tablet */
@media (max-width: 1024px) {
  .author__avatar img {
    width: 150px;
    // height: 150px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar .author__avatar img {
    width: 120px;
    // height: 120px;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .sidebar .author__avatar img {
    width: 100px;
    // height: 100px;
  }
}









details {
  border-bottom: 1px solid #e5e5e5;
  // padding: 0.8rem 0;
}

summary {
  cursor: pointer;
  // font-size: 1rem;
}

summary strong {
  font-weight: 500;
}

details[open] summary {
  margin-bottom: 0.25rem;
}


/* ===== Skills Section ===== */
.skill-group {
  margin-bottom: 0.6em;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.5em;
}

.skill-category {
  font-weight: 900;
  font-size: 14px;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-bottom: 0.15em !important;
  margin-left: 0 !important;
}

.skill-items {
  font-size: 15px;
  color: #222;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  line-height: 1.6;
}





.pub-links-a {
  margin-top: -1em !important;
}

.pub-links{
  margin: 0 !important;
}


.page__footer-follow,
.page__footer-copyright {
  display: none;
}

.custom-footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 14px;
  color: #666;
}



.author__content{
  padding-inline: 0px 25px !important;
}
